/************************* 공통 *****************************/
/* 공통 */
@keyframes appAniAlert {
    0% { margin-left: -5px; }
    35% { margin-left: 5px; }
    65% { margin-left: -5px; }
    100% { margin-left: 0; }
}
.alert_txt{color: #FC5862 !important;animation: appAniAlert .3s ease-out forwards;}

/* btn */
.app_btn{width: 100%;height: 64px;border-radius: 8px;font-size: 20px;font-weight: 700;text-align: center;color: #fff;background: #373D49;line-height: 64px;}
.app_btn:disabled{background: #EAEAEA;color: #999999;border-color: #EAEAEA;}
.app_btn2{width: 100%;height: 64px;border-radius: 8px;font-size: 20px;font-weight: 700;text-align: center;color: #fff;background: #6840FD;line-height: 64px;}
.app_btn2:disabled{background: #EAEAEA;color: #999999;border-color: #EAEAEA;}
.app_btn3{width: 100%;height: 64px;border-radius: 8px;font-size: 20px;font-weight: 700;text-align: center;color: #6840FD;background: #fff;line-height: 64px;border: 1px solid #6840FD;}
.app_btn4{width: 100%;height: 64px;border-radius: 8px;font-size: 20px;font-weight: 700;text-align: center;color: #fff;background: linear-gradient(255.03deg, #4144FD 11.16%, #7F40FF 89.36%);line-height: 64px;}
.app_btn5{width: 100%;height: 64px;border-radius: 8px;font-size: 20px;font-weight: 700;text-align: center;color: #999999;background: #EAEAEA;line-height: 64px;}
.app_btn_s{width: 120px;height: 53px;line-height: 53px;font-size: 18px;font-weight: 700;border: 1px solid #6840FD;border-radius: 8px;color: #6840FD;}
.app_btn_s:disabled{background: #EAEAEA;color: #999999;border-color: #EAEAEA;}


/************************* header *****************************/
#app_header {width: 100%; height: 58px;background: #fff;position: relative;display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex;-webkit-box-pack: center; -ms-flex-pack: center;-webkit-justify-content: center; justify-content: center;-webkit-box-align: center; -ms-flex-align: center;-webkit-align-items: center; align-items: center;padding: 0 44px;}
#app_header .btn_back{position: absolute;width: 44px;height: 100%;top: 0;left: 0;background: url(../images/app/arrow_back.svg) no-repeat right center;text-indent: -9999px;font-size: 0;}
#app_header .tit{color: #1B171E;font-size: 22px;font-weight: 600;}


/************************* popup *****************************/
@keyframes appAniShow {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes appAniUp {
    0% { bottom: -100%; }
    100% { bottom: 0; }
}
@keyframes appAniHide {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
@keyframes appAniDown {
    0% { bottom: 0; }
    100% { bottom: -100%; }
}
.app_pop_wrap{position: fixed;width: 100%;height: 100%;top: 0;left: 0;z-index: 900;}
.app_pop_wrap * {word-break: keep-all;}
.app_pop_wrap .dim{position: absolute;width: 100%;height:100%;top: 0;left: 0;background: rgba(0,0,0,0.6);opacity: 0;animation: appAniShow .3s forwards;z-index: 1;}
.app_pop_wrap>.pop_cont{position: absolute;width: 100%;background: #fff;left: 0;bottom: -100%;padding: 16px 28px 20px;border-radius: 20px 20px 0 0;animation: appAniUp .3s cubic-bezier(0, 0, 0.22, 1.05) forwards;z-index: 2;}
.app_pop_wrap>.pop_cont .btn_close{font-size: 0;text-indent: -9999px;width: 60px;height: 4px;border-radius: 100px;background: #373D49;margin-bottom: 20px;}
.app_pop_wrap>.pop_cont .pop_tit {padding-bottom: 24px;}
.app_pop_wrap>.pop_cont .pop_tit .tit{font-size: 22px;font-weight: 500;}
.app_pop_wrap>.pop_cont .pop_tit .tit strong{font-weight: 700;}
.app_pop_wrap>.pop_cont .pop_tit .txt{color: #666;padding-top: 8px;}
.app_pop_wrap>.pop_cont .pop_tit .txt strong{font-weight: 500;}
.app_pop_wrap>.pop_cont .btn_box{padding-top: 24px;}
.app_pop_wrap.off .dim{animation: appAniHide .3s forwards;}
.app_pop_wrap.off>.pop_cont{animation: appAniDown .3s cubic-bezier(0, 0, 0.22, 1.05) forwards;}

/* 회원가입 - 약관동의 팝업 */
.app_terms_pop .scroll_wrap{max-height: 60vh;}
.app_terms_pop .scroll_wrap .txt{font-size: 16px;color: #666;white-space: pre-line;word-break: keep-all;}

/* 회원가입 - 프로필설정 팝업 */
.app_profile_pop .inner_box>.scroll_wrap{max-height: 55vh;}
.app_profile_pop .address_box .sel_list_box{width: 150px;height: 100%;border-right: 1px solid #ddd;height: 55vh;}
.app_profile_pop .address_box .sel_list_box:nth-child(2){width: calc(100% - 150px);border-right: none;}
.app_profile_pop .txt_line p{width: calc(20% - 3.2px);text-align: center;font-size: 17px;color: #666;padding-bottom: 23px;position: relative;}
.app_profile_pop .txt_line p::after{position: absolute;content: '';width: 2px;height: 20px;background: #ddd;left: 50%;bottom: 0;transform: translateX(-50%);}

/* 회원가입 - 프로필사진설정 팝업 */
.app_profile_img_pop .list_ul li{text-align: center;margin-bottom: 4px;font-size: 24px;font-weight: 700;color: #999;}
.app_profile_img_pop .list_ul li:last-child{margin-bottom: 0;}
.app_profile_img_pop .list_ul li.on{color: #6840FD;}
.app_profile_img_pop .list_ul li label{padding: 15px 5px;display: block;}
.app_profile_img_pop .list_ul li input{display: none;-webkit-appearance: none;-moz-appearance: none;-ms-appearance: none;-o-appearance: none;appearance: none;}

/* 회원가입 완료 팝업 */
.app_signup_complete_pop .txt_box h5{font-size: 32px;font-weight: 500;}
.app_signup_complete_pop .txt_box p{font-size: 20px;color: #666;padding-top: 8px;}
.app_signup_complete_pop .btn_box{position: relative;padding-top: 152px !important;}
.app_signup_complete_pop .img_box{position: absolute;width: calc(100% + 56px);z-index: -1;left: -28px;bottom: 0;text-align: right;}


/* 포인트충전완료 팝업 */
.point_pop .scroll_wrap{max-height: 55vh;}
.point_pop .txt_ul{background: #FAF8FF;padding: 16px;border-radius: 8px;margin-top: 32px;}
.point_pop .txt_ul li{padding-bottom: 12px;}
.point_pop .txt_ul li:last-child{padding: 20px 0 0;border-top: 1px solid #ddd;}
.point_pop .txt_ul li p{font-weight: 500;}
.point_pop .txt_ul li p:first-child{font-size:16px;color: #999;}
.point_pop .txt_ul li:last-child p:nth-child(2){color: #6840FD;}
.point_pop .txt_ul li:last-child p:nth-child(2) strong{font-size: 22px;font-weight: 700;}


/************************* 회원가입 *****************************/
@keyframes appAniStep {
    0% { opacity: 0; margin-left: -100%;}
    100% { opacity: 1; margin-left: 0;}
}
.app_page .signup_wrap .step_ul{padding: 0 20px 12px;background: #fff;}
.app_page .signup_wrap .step_ul li{width: calc(25% - 4.5px);height: 4px;border-radius: 2px;background: #DDDDDD;}
.app_page .signup_wrap .step_ul li.on{background: #6840FD;}
.app_page .signup_wrap .signup_cont{background: #F7F7FA;height: calc(100vh - 16px);padding: 28px 20px;scroll-behavior: smooth;}
.app_page .signup_box{padding-bottom: 12px;animation: appAniStep .4s .3s cubic-bezier(0, 0, 0, 1.17) forwards;width: 100%;margin-left: -100%;opacity: 0;}
.app_page .signup_box.done{animation:none;opacity: 1;margin-left: 0;}
.app_page .signup_box .gray_box{background: #EFEFEF;text-align: center;padding: 12px 5px;font-size: 16px;color: #666;border-radius: 8px;margin: 28px 0;}
.app_page .signup_box .img_box{width: 56px;height: 56px;border-radius: 50%;overflow: hidden;margin-right: 12px;}
.app_page .signup_box .txt_box{width: calc(100% - 68px);}
.app_page .signup_box .txt_box .name{font-size: 14px;color: #373D49;padding-bottom: 4px;}
.app_page .signup_box .txt_box .inner_box{border: 1px solid #EAEAEA;border-radius: 8px;background: #fff;overflow: hidden;}
.app_page .signup_box .txt_box .tit_box{background: #6840FD;padding: 16px;color: #fff;}
.app_page .signup_box .agree_box .all_check{padding: 16px;background: #FAF8FF;}
.app_page .signup_box .agree_box ul{padding: 16px 5px 16px 16px;}
.app_page .signup_box .agree_box ul li{padding-bottom: 8px;}
.app_page .signup_box .agree_box ul li:last-child{padding-bottom: 0;}
.app_page .signup_box .agree_box ul li .custom_check label>.check{background-size: 30px !important;}
.app_page .signup_box .agree_box ul li button{padding-left: 8px;color: #666;text-decoration: underline;font-size: 18px;text-align: left;}
.app_page .signup_box .txt_box .txt_ul{padding: 16px;}
.app_page .signup_box .txt_box .txt_ul li{padding-bottom: 8px;}
.app_page .signup_box .txt_box .txt_ul li:last-child{padding-bottom: 0;}
.app_page .signup_box .txt_box .txt_ul li p:first-child{font-size: 16px;color: #999;}
.app_page .profile_img_ul li{width: calc(33.333% - 2.7px);margin: 4px 4px 0 0;height: 0;padding-bottom: calc(33.333% - 2.7px);;border: 1px solid #ddd;background: #fff url(../images/app/ic_plus.svg) no-repeat center;border-radius: 8px;overflow: hidden;position: relative;}
.app_page .profile_img_ul li:nth-child(3n){margin-right: 0;}
.app_page .profile_img_ul>li:first-child::after{position: absolute;content: "대표";width: 41px;height: 24px;font-size: 12px;text-align: center;line-height: 24px;color: #00D3AB;font-weight: 700;left: 4px;bottom: 4px;background: rgba(55, 61, 73, 0.7);border-radius: 12px;z-index: 1;}
.app_page .profile_img_ul li .img{width: 100%;height: 100%;position: absolute;}
.app_page .profile_img_ul li .img img{width: 100%;height: 100%;object-fit: cover;position: absolute;}
.app_page .profile_img_ul li .btn_delt{position: absolute;right: 0;bottom: 0;width: 28px;height: 28px;background: #fff url(../images/app/ic_close.svg) no-repeat center;font-size: 0;text-indent: -9999px;display: none;}
.app_page .profile_img_ul li.on{background: #fff;}
.app_page .profile_img_ul li.on .btn_delt{display: block;}
.app_page .form_ul{padding: 12px 16px;}
.btn_sel_box2 .btn_sel{width: calc(50% - 8px);}
.btn_sel{width: 100%; height: 42px;font-size: 20px;font-weight: 500;color: #373D49;border-bottom: 2px solid #373D49;padding-right: 24px;background: url(../images/app/arrow_select.svg) no-repeat center right;text-align: left;}


/************************* 마이페이지 *****************************/
/* 포인트충전 */
.point_wrap{min-height: 100vh;background:#F7F7FA;}
.point_wrap .top_box{padding: 28px 20px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.04);border-radius: 0 0 20px 20px;background: #fff;}
.point_wrap .top_box .box{border: 2px solid #EAEAEA;border-radius: 8px;padding: 32px 16px 20px;}
.point_wrap .top_box .txt p{font-size: 17px;font-weight: 500;color: #666;}
.point_wrap .top_box .txt h5{font-size: 24px;font-weight: 500;padding-left: 28px;background: url(../images/app/ic_point.svg) no-repeat center left;}
.point_wrap .top_box .txt h5 strong{font-size: 28px;font-weight: 700;}
.point_wrap .top_box button{width: 100%;height: 48px;background: #373D49;line-height: 47px;font-size: 16px;color: #00D3AB;font-weight: 500;border-radius: 8px;margin-top: 24px;}
.point_wrap .top_box button span{padding-right: 30px;background: url(../images/app/arrow_right_green.svg) no-repeat center right;}
.point_wrap .inner_box{padding: 0 20px 20px;}
.point_wrap .inner_box>.box{padding-top: 28px;}
.point_wrap .inner_box>.box>.tit{font-size: 22px;font-weight: 700;color: #373D49;padding-bottom: 16px;}
.point_wrap .point_ul li{margin-bottom: 8px;position: relative;}
.point_wrap .point_ul li:last-child{margin-bottom: 0;}
.point_wrap .point_ul li.recommend::after{position: absolute;content: "";width: 60px;height: 35px;background: url(../images/app/ic_recommend.svg) no-repeat top center;top: -4px;left: 0;}
.point_wrap .point_ul li label .box{box-shadow:0 2px 8px 0 rgba(191, 191, 191, 0.25);border-radius: 8px;background: #fff;padding: 24px 16px;position: relative;}
.point_wrap .point_ul li label .box::after{position: absolute;content: ""; width: 100%;height: 100%;top: 0;left: 0;border-radius: 8px;border: 2px solid #6840FD;box-sizing: border-box;display: none;}
.point_wrap .point_ul li label .txt{font-size: 20px;font-weight: 500;padding-left: 28px;background: url(../images/app/ic_point.svg) no-repeat center left;}
.point_wrap .point_ul li label .txt strong{font-size: 24px;font-weight: 700;}
.point_wrap .point_ul li label .txt2{font-weight: 500;padding-right: 8px;}
.point_wrap .point_ul li label .check{width: 24px;height: 24px;background: url(../images/app/radio.svg) no-repeat center;font-size: 0;text-indent: -9999px;}
.point_wrap .point_ul li label input:checked + .box{background: #FAF8FF;}
.point_wrap .point_ul li label input:checked + .box::after{display: block;}
.point_wrap .point_ul li label input:checked + .box .check{background: url(../images/app/radio_on.svg) no-repeat center;}
.point_wrap .price_ul li{width:calc(50% - 0.5px);position: relative;}
.point_wrap .price_ul li:first-child:after{position: absolute;content: "";width: 1px;height: 100%;background: #ddd;top: 0;right: -1px;}
.point_wrap .price_ul li label .box{width: 100%;text-align: center;padding: 20px 5px;background: #fff;border-radius: 8px 0 0 8px;position: relative;color: #666;}
.point_wrap .price_ul li label .box::after{position: absolute;content: '';width: 100%;height: 100%;top: 0;left: 0;border-radius: 8px 0 0 8px;border: 1px solid #ddd;border-right: none;box-sizing: border-box;}
.point_wrap .price_ul li:nth-child(2) label .box{border-radius: 0 8px 8px 0;}
.point_wrap .price_ul li:nth-child(2) label .box::after{border-radius: 0 8px 8px 0;border-right: 1px solid #ddd;border-left: none;box-sizing: border-box;}
.point_wrap .price_ul li label input:checked + .box{color: #6840FD;font-weight: 600;}
.point_wrap .price_ul li label input:checked + .box::after{border: 2px solid #6840FD;}
.point_wrap .txt_ul{padding:16px 0 20px;}
.point_wrap .txt_ul li{font-size: 16px;color: #666;padding-left: 14px;background: url(../images/app/ic_star.svg) no-repeat top 7px left;}
.point_wrap .bottom_box{border-top: 1px solid #ddd;margin-top: 28px;padding-top: 28px;}
.point_wrap .bottom_box ul li{color: #AFB1B6;padding-right: 17px;position: relative;}
.point_wrap .bottom_box ul li::after{position: absolute;content: "";width: 1px;height: 10px;background: #DDDDDD;right: 8px;top: 50%;transform: translateY(-50%);}
.point_wrap .bottom_box ul li:last-child{padding-right: 0;}
.point_wrap .bottom_box ul li:last-child::after{display: none;}
.point_wrap .bottom_box .price_txt{padding: 12px 0 29px;}
.point_wrap .bottom_box .price_txt p{font-size: 22px;font-weight: 700;}
.point_wrap .bottom_box .price_txt h6{font-size: 24px;font-weight: 500;}
.point_wrap .bottom_box .price_txt h6 strong{font-weight: 700;}
.point_wrap2{min-height: 100vh;background: #fff;}
.point_wrap2 .box{max-width: 500px;padding: 20px;width: 100%;}
.point_wrap2 .box p{font-size: 22px;color: #666;font-weight: 600;padding-top: 16px;}
.point_wrap2 .box button{margin-top: 20px;}

/* 프로필수정 */
.edit_profile_wrap .top_tab{border-bottom:1px solid #ddd;padding: 8px 5px 12px;background: #fff;position: fixed;width: 100%;top: 0;left: 0;z-index: 100;}
.edit_profile_wrap .top_tab li{margin-right: 4px;border: 1px solid #ddd;font-size: 16px;font-weight: 500;color: #666;border-radius: 20px;text-align: center;width: 127px;height: 40px;line-height: 40px; display: block;}
.edit_profile_wrap .top_tab li:last-child{margin-right: 0;}
.edit_profile_wrap .top_tab li.on {background: #373D49;color: #fff;}
.edit_profile_wrap .inner_cont .line_box{padding: 76px 20px 0;position: relative;}
.edit_profile_wrap .inner_cont .line_box::after{position: absolute;content: '';width: 100%;height: 12px;background:#F8F8F8;top: 32px;left: 0;}
.edit_profile_wrap .inner_cont .line_box:first-child{padding-top: 93px;margin-top: 0;}
.edit_profile_wrap .inner_cont .line_box:first-child::after{display: none;}
.edit_profile_wrap .inner_cont .line_box .top_tit{font-size: 22px;font-weight: 700;color: #373D49;padding-bottom: 24px;}
.edit_profile_wrap .gray_box{background: #F7F7FA;border-radius: 8px;padding: 20px;margin-bottom: 24px;}
.edit_profile_wrap .gray_box li{padding-bottom: 12px;font-size: 18px;font-weight: 500;color: #373D49;}
.edit_profile_wrap .gray_box li:last-child{padding-bottom: 0;}
.edit_profile_wrap .gray_box li p:first-child{color: #999999;font-size: 16px;}
.edit_profile_wrap .form_ul{padding: 0;}
.edit_profile_wrap .form_ul>li .input_tit{padding-bottom: 0;}
.edit_profile_wrap .form_ul .btn_sel{height: 60px;border-color: #EAEAEA;}
.input_check_box{position: relative;}
.input_check_box input{padding-right: 90px;}
.input_check_box button{width: 83px;height: 43px;border: 1px solid #6840FD;font-size: 16px;font-weight: 700;color: #6840FD;border-radius: 8px;position: absolute;right: 0;top: 50%;transform: translateY(-50%);}
.input_check_box.checked button {color: #999;background: #EAEAEA;border-color: #EAEAEA;}
.edit_profile_wrap .btn_box{padding: 40px 20px 20px;}

@media screen and (max-width: 400px){
    .edit_profile_wrap .top_tab li{width: 110px;}
}


/* 회원탈퇴 */
.withdraw_wrap .inner_cont{padding: 28px 20px 104px;min-height: 100vh;position: relative;}
.withdraw_wrap .tit_box h5{font-size: 28px;font-weight: 700;color: #1B171E;line-height: 1.5;}
.withdraw_wrap .tit_box p{font-size: 18px;color: #666;padding-top: 8px;}
.withdraw_wrap .info_box{padding-top: 36px;}
.withdraw_wrap .info_box .txt{font-size: 18px;color: #1B171E;padding-bottom: 16px;}
.withdraw_wrap .info_box .info_ul {padding: 16px 20px;background: #FAF8FF;border-radius: 8px;}
.withdraw_wrap .info_box .info_ul li{color: #999;padding-bottom: 8px;}
.withdraw_wrap .info_box .info_ul li:last-child{padding-bottom: 0;}
.withdraw_wrap .info_box .info_ul li h6{font-size: 22px;font-weight: 500;color: #6840FD;}
.withdraw_wrap .info_box .txt_ul{padding:16px 0;}
.withdraw_wrap .info_box .txt_ul li{color: #666;padding-bottom: 5px;padding-left: 14px;position: relative;line-height: 1.5;}
.withdraw_wrap .info_box .txt_ul li::after{position: absolute;content: "";top: 0;left: 0;background: url(../images/app/ic_star.svg) no-repeat center left;width: 14px;height: 20px;}
.withdraw_wrap .info_box .txt_ul li span{font-weight: 500;}
.withdraw_wrap .inner_cont .btn_box{position: absolute;width: 100%;left: 0;bottom: 0;padding: 20px;}
.withdraw_wrap .inner_cont .btn_box.flex_between button{width: calc(50% - 2px);}




